html,
body {
  width: 100%;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.body_bg {
  background-color: #222d32;
}

.panel .panel-title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0;
}

.mt_150 {
  margin-top: 150px;
}

/* 乐淘登录页 */

/* 侧边栏 */

.lt_aside {
  width: 180px;
  height: 100%;
  position: fixed;
  background-color: #222d32;
  z-index: 999;
}

.lt_aside .brand {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  background-color: #367fa9;
}

.lt_aside .brand a {
  color: white;
}

.lt_aside .user {
  height: 180px;
  padding-top: 30px;
  /* text-align: center; */
}

.lt_aside .user img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.lt_aside .user p {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

.lt_aside .nav ul {
  list-style: none;
  padding-left: 0;
}

.lt_aside .nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;
}

.lt_aside .nav i {
  margin-right: 5px;
}

.lt_aside .nav .child a {
  padding-left: 60px;
}

.lt_aside .nav a.current {
  background-color: #1d1f21;
  border-left: 3px solid #006699;
}

/* main 顶部 topbar */

.lt_main {
  width: 100%;
  height: 1000px;
  padding-left: 180px;
  padding-top: 50px;
}

.lt_topbar {
  height: 50px;
  width: 100%;
  background-color: #3c8dbc;
  position: fixed;
  top: 0;
  left: 0px;
  padding-left: 180px;
}

.lt_topbar a {
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 50px; 
  color: white;
  text-align: center;
}

/* 右侧 主体 */

.container-fluid .breadcrumb {
  margin-top: 20px;
}